{% load static %}
<aside class="app-sidebar shadow d-flex flex-column text-white" style="min-height: 100vh; background-color: #800000;">
    <div class="d-flex justify-content-center py-4" style="background-color: #800000;">
        <img src="{% static 'img/bg1.png' %}" alt="Logo" style="height: 150px;">
    </div>

    <!-- Sidebar Wrapper -->
    <div class="sidebar-wrapper flex-grow-1 px-2 pt-2">
        <nav class="nav flex-column">
            <!-- Dashboard -->
            <div class="nav-item">
                <a href="{% url 'dashboard' %}" class="nav-link text-white">
                    <i class="bi bi-speedometer me-2"></i> Dashboard
                </a>
            </div>

            <!-- Seguridad o administración -->
            <div class="nav-item mt-3">
                <a class="nav-link text-white d-flex justify-content-between align-items-center"
                   data-bs-toggle="collapse" href="#adminMenu" role="button"
                   aria-expanded="false" aria-controls="adminMenu">
                    <span><i class="bi bi-shield-lock me-2"></i> Administración</span>
                    <i class="bi bi-chevron-down"></i>
                </a>
                <div class="collapse ps-4" id="adminMenu">
                    <a href="{% url 'listar_proveedores' %}" class="nav-link text-white">
                        <i class="bi bi-people me-2"></i> Proveedores
                    </a>
                    <a href="{% url 'listar_cuentas' %}" class="nav-link text-white">
                        <i class="bi bi-tags me-2"></i> Cuentas
                    </a>
                    <a href="{% url 'listar_pagos' %}" class="nav-link text-white">
                        <i class="bi bi-tags me-2"></i> Pagos
                    </a>
                </div>
            </div>
        </nav>
    </div>
</aside>


